/* Global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background: #192229;
}

a, a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Top bar styles */
header {
    position: relative;
    width: 100%;
}

header .top {
    position: relative;
    width: 100%;
    height: 60px;
    background: #212e36;
}

header .top .socialNetworks {
    position: relative;
    width: 60%;
    height: 60px;
    left: 5px;
}

header .top .socialNetworks ul li {
    display: inline-block;
    padding: 0px 20px;
    margin-top: 5px;
}

header .top .socialNetworks ul li a {
    font-size: 30px;
    color: #CDCDD0;
    opacity: 1;
    transition: .5s all ease-in-out;
}

header .top .socialNetworks ul li a:hover {
    opacity: .5;
}

header .top .motto {
    position: absolute;
    width: 40%;
    height: 60px;
    left: 60%;
    top: 0;
}

header .top .motto h1 {
    letter-spacing: 5px;
    color: #CDCDD0;
    text-transform: capitalize;
    padding: 5px 0;
}

/* Banner styles */
header .banner {
    position: relative;
    width: 100%;
    height: 400px;
    background: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
}

header .banner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: -1;
}

header .banner .container {
    position: relative;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .banner .container h1 {
    font-size: 50px;
    color: #CDCDD0;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 30px;
}

header .banner .container a {
    display: block;
    width: 250px;
    padding: 15px 0;
    background: rgb(18, 26, 33);
    color: #CDCDD0;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    margin: auto;
    opacity: 1;
    transition: .5s all ease-in-out;
}

header .banner .container a:hover {
    opacity: .5;
}

/* Navigation menu styles */
header nav {
    display: flex;
    position: relative;
    width: 100%;
    height: 60px;
    background: #212e36;
    justify-content: space-between;
    z-index: 100;
}

header nav.navFixed {
    position: fixed;
    top: 0;
    left: 0;
}

header nav .bars {
    display: none;
}

header nav .logoContainer {
    position: relative;
    width: 80px;
    height: 40px;
    top: 10px;
    left: 5%;
}

header nav ul {
    position: relative;
    right: 5%;
}

header nav ul li {
    display: inline-block;
    padding: 0px 25px;
    margin-top: 15px;
}

header nav ul li a {
    font-size: 25px;
    color: #CDCDD0;
    opacity: 1;
    transition: .5s all ease-in-out;
}

header nav ul li a:hover {
    opacity: .5;
}

/* Space to scroll */
.content {
    position: relative;
    width: 100%;
    height: 1000px;
}

/* Responsive design */
@media screen and (max-width:1199px) {
    /* Responsive top bar styles */
    header .top .motto h1 {
        letter-spacing: 2px;
        font-size: 25px;
        padding: 15px 0;
    }
}

@media screen and (max-width: 980px) {
    /* Responsive top bar styles */
    header .top {
        height: auto;
    }

    header .top .socialNetworks {
        display: block;
        position: relative;
        width: 80%;
        height: 60px;
        left: 10%;
    }

    header .top .socialNetworks ul {
        display: flex;
        position: relative;
        justify-content: space-around;
    }

    header .top .socialNetworks ul li {
        padding: 0;
    }

    header .top .socialNetworks ul li a {
        font-size: 40px;
    }

    header .top .motto {
        position: relative;
        width: 100%;
        left: 0%;
    }

    header .top .motto h1 {
        text-align: center;
    }

    /* Responsive banner style */
    header .banner .container h1 {
        font-size: 30px;
    }

    /* Responsive navigation menu style */
    header nav .bars {
        cursor: pointer;
        display: block;
        position: absolute;
        width: 5%;
        height: 50px;
        top: 10px;
        left: 90%;
    }

    header nav .bars label #line1, #line2, #line3 {
        cursor: pointer;
        position: absolute;
        content: '';
        width: 50px;
        height: 10px;
        border-radius: 5px;
        background: #CDCDD0;
        transition: .5s all ease-in-out;
    }

    header nav .bars label #line2 {
        top: 15px;
    }

    header nav .bars label #line3 {
        top: 30px;
    }

    header nav .bars #btnBars {
        display: none;
    }

    header nav .bars #btnBars:checked ~ label #line1 {
        transform: rotate(140deg);
        top: 15px;
    }

    header nav .bars #btnBars:checked ~ label #line2 {
        opacity: 0;
    }

    header nav .bars #btnBars:checked ~ label #line3 {
        transform: rotate(-140deg);
        top: 15px;
    }

    header nav ul {
        display: flex;
        position: absolute;
        width: 100%;
        flex-direction: column;
        background: rgba(33, 46, 54, .8);
        border-top: 5px solid #CDCDD0;
        right: 100%;
        top: 60px;
        opacity: 0;
        transition: .5s all ease-in-out;
    }

    .navbarResponsive {
        right: 0;
        opacity: 1;
    }

    header nav ul li {
        text-align: center;
        padding: 15px 0px;
        margin-top: 0;
    }

    header nav ul li a {
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    /* Responsive top bars styles */
    header .top .motto h1 {
        font-size: 20px;
    }

    /* Responsive banner styles */
    header .banner h1 {
        font-size: 18px;
    }

    /* Responsive navigation menu styles */
    header nav .bars {
        left: 80%;
    }
}